/* Global  */
* {
  box-sizing: border-box;
}

html, body {
  display: block;
  height:  100%;
  margin:  0px;
  padding: 0px;
  border: 0px;
  background-color: black;
  overflow: hidden;
}

.basicBorder {
  border: solid rgb(188, 228, 176);
  border-radius: 0.5rem;
}

/* Main items */
#MainWrapper {
  height: 100%;
  background-color: rgb(3, 24, 19);
}

#NavBar {
  height: 2rem;
}

#PageWrapper {
    height: 100%;
}

/* Nav Item */
.navItem {
  display: inline-block;
  text-align: center;
  width: 32%;
  height: 2rem;
  margin: 0.1rem;
  color: rgb(188, 228, 176);
  background-color: rgb(3, 53, 7);
  overflow: hidden;
}

.activeNavItem {
  background-color: rgb(11, 124, 36);
  color: rgb(131, 252, 163);
}

.navItem:hover {
  border: dashed rgb(43, 255, 0);
  color: rgb(94, 255, 0);
}

/* Page  */
.page {
  display: none;
  height: 93%;
  margin: 1%;
  padding: 1rem;
  background-color: rgb(51, 77, 58);
}

.activePage {
    display: block;
}
